/* Updated ResultPage.css */
.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.result-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.result-container p {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.back-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.back-button:hover {
  transform: scale(1.1);
  background-color: #0056b3;
}
